
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Varela", sans-serif;
    --primary-color: #2b3b4b; /* Blue Fantastic */
    --secondary-color: #cfe0f4; /*light breeze */


}


/* Global styles */

body {
  
    font-family: var(--primary-font);
    background-image: url("/assets/images/invitalbackground.png");
    background-repeat: no-repeat;
   background-color: #cccccc;
   background-size: cover;
}
    
   

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);

}

/*reminder to set styles for size and color on h1-6 plus card classes/*


/* grid visualisation CSS for testing */


           


.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}

/* flex container visualastion for testing*/

.flex-container { 
    display: flex;
    background-color: rgba(255, 255, 255);
    
    
}


/*Navbar styling to override Bootstrap dark theme*/

.navbar {
    background-color: #2b3b4b !important; /* Ensures background remains */
  }
  
  .navbar a.nav-link,
  .navbar-brand {
    color: white !important; /* link and text color ghost white */
  }
  
  .navbar a.nav-link:hover {
    color: #a4bacd!important; /*  Change color heavenly blue on hover */
  }
  .navbar .container { /* removes border around the container in nav bar that allows the content in nav to line up with the rest of the content*/
    border: none;

/* updates the collapsed togglar for mobile use */

}
  .navbar-toggler {
    border-color: white!important;
  }
  .navbar-toggler-icon {
    filter: invert(100%); /* Inverts color (black to white) */
  }


/* Carousel styling increased size and change to white for better accessibility*/
.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 70px;
  width: 70px;
  outline: white;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid white;
}

#services {
  padding-top: 20px;
  .card {
   background-color: rgb(4,73,149,0.8) /*blue matching carousel image rgb to adjust opacity to 80%*/
           }

/*Service card background and font stylings*/
.card {
  height: 550px; /*to override the auto fit in the card and ensured uniformity*/
  
  border-color: #2b3b4b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#services .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-12 { /*removes border and background so cards stand alone on top of background image*/
  background-color: transparent;
  border: none;
}
  
}
.card-title {
  color: white;
}
.card-text {
  color: white;
 }
.card-subtext {   /*subtext classes required to change font color within seperate paragraphs*/
  color: white;
}
.card-subtext2 {  /*subtext classes required to change font color within seperate paragraphs*/
  color: white;
}
.card-footer {
  color: white;
}
.col-12.text-center {
  padding-top: 60px; /*create distance from service section*/
  padding-bottom: 10px; /*pad out heading from main text */
  background: none; /* Remove background color */
  border: none; /* Remove border */
 
}
.col-12.text-center {
  background: none;
}



.mission-paragraph {
  background-color: #f0f8ff; /*light blue so the background image doesnt make text illegible*/
  border-radius: 15px; /*radius for rounded edges */
  padding: 20px; /* padding inside the paragraph */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  color: #333; 
  font-size: 1.2rem; /*increases the font size */
}

/* video styling to ensure is centered and in proportion*/
.video-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

/*contact page specific*/
.top-image {
  height: 450px; /* Adjust as needed */
  overflow: hidden; /* Ensures the image doesn't extend beyond the div */
}

.top-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
