
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela&display=swap');

html { /* Ensures the page takes up the full height of the viewport */
    height: 100%;
    box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
  
}

/* CSS Variables */
:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Varela", sans-serif;
    --primary-color: #1f2226; /* Blue Fantastic */
    --secondary-color: #cfe0f4; /*light breeze */


}

/* Global styles */

body {
  
  font-family: var(--primary-font);
  color:#1f2226; 
  font-weight: 500;
  background-image: url("../images/invitalbackground.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #cccccc;
  height: 100%;  /*ensures footer stays at bottom*/
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the body takes up the full height of the viewport */
  overflow-x: hidden; /* Prevents horizontal scrolling */ 
}
  
main {
  flex: 1;
}
    
   

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);

}

/* ensures transparent background appears around floating headers for contrast*/
h2 {
  display: inline-block;
  background: rgba(179, 255, 241, 0.6);
  border-radius: 16px;
  
}

/*keeps transparent background styling consistant for contrast*/

#header{
  background: rgba(179, 255, 241, 0.6);
  display: block; 
  text-align: center; 
  margin: 0 auto; 
  width: 100%;
  background: rgba(179, 255, 241, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18);
}




/* to add transparent background to forms for better contrast to background image*/

.transparent-box {
  background: rgba(179, 255, 241, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 20px auto; /* Center the box */
       

    
}


/*Navbar styling to override Bootstrap dark theme*/

.navbar {
    background-color: #2b3b4b !important; /* Ensures background remains */
  }
  
  .navbar a.nav-link,
  .navbar-brand {
    color: white !important; /* link and text color ghost white */
  }
  
  .navbar a.nav-link:hover {
    color: #a4bacd!important; /*  Change color heavenly blue on hover */
  }
  .navbar .container { /* removes border around the container in nav bar that allows the content in nav to line up with the rest of the content*/
    border: none;

/* updates the collapsed togglar for mobile use */

}
  .navbar-toggler {
    border-color: white!important;
  }
  .navbar-toggler-icon {
    filter: invert(100%); /* Inverts color (black to white) */
  }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5) ;
  width: 300px;
  align-items: center;
  bottom: 50px;

  
}


/* Carousel styling increased size and change to white for better accessibility*/
.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 70px;
  width: 70px;
  outline: white;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid white;
}
/*padding between nav and carousel*/
header.container {
  padding-top: 10px; 
}
header .col-12 { /*ensures no lines showing at the top*/
  border: none;
}
#services {
  padding-top: 20px;
}
.card {
  align-items: center;
}


#services .card {
  background-color: rgba(4, 73, 149, 0.8); /* Use rgba for opacity */
}

/*Service card background and font stylings*/
.card-body {
  min-height: 250px; /* Default style */
  width: 100%; /* percentage for responsive design */
  
}



@media (max-width: 600px) {
  .card-body {
    min-height: 150px; /* Overrides for smaller screens */
      }
}




#services .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-12 { /*removes border and background so cards stand alone on top of background image*/
  background-color: transparent;
  border: none;
}

.card-img-top {
  min-height: 250px; /* Adjust as needed */ 
  height:259px;
  width: 100%;
  object-fit: cover; /* Ensures the image covers the card area without distortion */

}
@media (min-width: 768px) {
  .card-img-top {
    width: 100%; /* Apply fixed height only on tablets and up */
  }
}

.card-title {
  color: white;
}
.card-text {
  color: white;
 }
.card-subtext {   /*subtext classes required to change font color within seperate paragraphs*/
  color: white;
}
.card-subtext2 {  /*subtext classes required to change font color within seperate paragraphs*/
  color: white;
}
.card-footer {
  color: white;
}
.col-12.text-center {
  padding-top: 60px; /*create distance from service section*/
  padding-bottom: 10px; /*pad out heading from main text */
  background: none; /* Remove background color */
  border: none; /* Remove border */
 
}
.col-12.text-center {
  background: none;
}

/*Success page styling to ensure it is consistant with the rest of the site*/


#success {
  background: rgba(179, 255, 241, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 20px auto; /* Center the box */
}

.content-section {
  background-color: #e7eeee; /* off-white/ Light gray background color to not clash with map green */
  padding: 30px;
  border-radius: 8px;
}

.content-section h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #007bff; /* Blue color for heading to match with the CTA Button */
}

.content-section p {
  font-size: 1.1rem;
  color: #000000; /* Darker color for text */
}


/* Style for the map iframe */
.content-section iframe {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* shadow effect */
  
}

/*Mission statement additional background with stronger opacity for larger body of text */

.mission-paragraph {
  background-color: #f0f8ff; 
  border-radius: 15px; /*radius for rounded edges */
  padding: 20px; /* padding inside the paragraph */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  color: #333; 
  font-size: 1.2rem; /*increases the font size */
}



/* video styling to ensure is centered and in proportion*/
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  min-height: 550px;
  height: 0; 
  overflow: hidden;
  max-width: 100%;  /* Responsive */   
  width: 100%;
  margin: 0 auto; /* Center the video */ 
  margin-bottom: 20px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-iframe {
  width: 100%;
  height: 450px; /* Adjust height as needed */
  border: none; /* Remove default border */
  margin-bottom: 20px; /* Space below the map */
  border-radius: 8px; /* Optional: rounded corners */
  box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);;
}
@media (max-width: 768px) {
  .map-iframe {
    height: 300px; /* Adjust height for smaller screens */
  }
}


/*contact page specific*/
.top-image {
  height: 450px; 
  overflow: hidden; /*to stop extend beyond the div */
}

.top-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-box {
  background-color: rgba(86, 229, 222, 0.9); /* Light teal */
  border-radius: 10px;
  width: 50%;
  text-align: left;
}

/* Required as needed to fix the height for the text to align with the image -For smaller devices */
@media (max-width: 768px) {
  .text-box {
    width:100%; /* Adjust width to be more responsive when using smaller devices*/
    height: auto; /*  auto for better scaling */
    padding: 15px; 
  }
}

/* For very small devices */
@media (max-width: 480px) {
  .text-box {
    width: 100%; /* Further adjust the width for even smaller devices */
    height: auto; /* Allow content to flow naturally */
    padding: 10px; /* Smaller padding to optimize space */
  }
}



/*join us table styling*/

.table {
      background-color: #f8f9fa; /* Light gray for table */
}
     .table th, .table td {
        background-color: #88d7d8; /* light teal*/
      }

      .table-striped tbody tr:nth-of-type(odd) {
        background-color: #8cc5ee; /* light blue*/
      }
/*Footer Styling*/
.footer {
   background-color: #2b3b4b;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .footer a {
    margin: 0 15px; /*  spacing between icons */
    font-size: 24px; /*icon size*/
    color: #ffffff; /* icon color */
    transition: color 0.3s; /*hover*/
       
  }

footer a:hover {
  color: #4abbe1; /* Change link color on hover */
}
  
  

 